body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  img {
    width: 200px;
    height: 200px;
    margin: 10px; /* Her legger vi til 10px margin på alle sider */
    object-fit: cover;
  }